<%- include('../../components/header') %>

    <%- include('../../components/dashboard/navbar') %>

    <section id="main" class="container my-xl-5 my-md-3 mb-5">

        <!-- <div class="row d-flex justify-content-center">
            <div class="col-lg-4 d-flex justify-content-center mb-5">
                <img src="<%- assetUrl('/img/2.png') %>" style="max-width: 400px" />
            </div>

            <div class="col-lg-6">
                <div class="px-5">
                    
                    <p class="text-cyan fs-6 m-0">Sudah terlalu berat menahan beban pikiran karena masalah yang tak kunjung selesai. Masalah baru bermunculan tidak pandang bulu. Tak ada teman untuk berbagi cerita karena kesibukan. Yuk sini aja, ceritain ke kita-kita. Privasi dijamin aman.</p>
                    <p class="text-cyan fs-1 fw-bolder my-3 text-green">Ceritain aja</p>
                    <p class="mt-4"><a href="<%- getRoute('login') %>" class="btn btn-cyan">Saya butuh pendengar</a></p>

                </div>
            </div>
        </div> -->


    </section>

    <%- include('../../components/footer') %>
